div{
	width:600px;
	margin:0 auto;
	border-width: 25px;
}


h2{
	font-size:32px;
	line-height:32px;
}

h1{
	border-bottom: 2px solid black;
	font-size:36px;
	line-height:36px;
}

img.middle{
	float: middle;
}

p.tip {
 background-color:#def6ed;  
}


ul li{
  margin-top:10px;
  
}
ol li{
	margin-top: 20px;
	
}
body{
	font-family: 'Roboto', sans-serif;
}

p{
	font-size:20px;
	line-height:26px; 
}

